<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>common</title>
</head>

<body>
<!--顶栏-->
<nav th:fragment="topbar">
    <div class="top">
        <div align="right">
            <button type="button" class="btn-sign" style="vertical-align:middle"><span>免费注册</span></button>
            <button type="button" class="btn-log" style="vertical-align:middle"><span>马上登录</span></button>
        </div>
    </div>
</nav>

<!--底部信息展示栏-->
<nav th:fragment="bottombar">
    <div class="foot" style="background-color:#323232 ;margin-top: 20px;">
        <br><br>
        <p style="color: #C7C7C7" align="center"><span style="color: #556666;">destiny@XuRuiBiao.com</span>&nbsp;&nbsp;xiaosha
        </p><br>
        <p style="color:#556666" align="center" ;>NO</p><br>
        <p style="color:#C7C7C7;" align="center">Contact:+86-</p><br>
    </div>
</nav>

</body>
</html>