<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>

    <style>
        body {
            background: rgb(250, 250, 250)
        }
    </style>

</head>

<body>


<h1>登录</h1>


<div id="block" class="container w-25 align-content-center">
    <div class="form">
        <label for="userToken">账号</label>
        <input type="text" placeholder="身份证/手机/用户名" required="required" id="userToken" class="form-control">
    </div>

    <div class="form">
        <label for="password">密码</label>
        <input type="password" placeholder="********" required="required" id="password" class="form-control">
    </div>

    <div class="form">
        <label for="credit">身份</label>
        <select type="text" id="credit" class="custom-select">
            <option value="u">用户</option>
            <option value="a">管理</option>
            <option value="t">测试</option>
        </select>
    </div>
    <br>
    <div align="center">
        <button id="loginBtn" onclick="login()" class="btn btn-primary">登录</button>
        <label>&nbsp</label>
        <a href="/register" class="page-link w-50">没有账号？注册</a>
    </div>


</div>


<script>
    function login() {

        let userToken = $("#userToken").val();
        let password = $("#password").val();
        let credit = $("#credit").val();

        if (!(userToken && password)) {
            alert("请填写所有字段！");
            return;
        }

        let loginURL = "http://" + window.location.host + "/login";

        $.ajax("/login", {
            url: loginURL,
            method: "post",
            data: {
                value: userToken,
                password: password,
                credit: credit
            },
            success: function (data) {

                if (data.status === "OK") {
                    alert(data.msg);
                    let url = "http://" + window.location.host + "/service/order";

                    window.location.href = url + "?"
                        + "username=" + data.username
                        + "&credit=" + credit
                        + "&token=" + data.token;
                } else {
                    alert(data.msg);
                    window.location.href = '/login';
                }
            }
        });

    }
</script>


</body>

</html>