<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.CityMapper">

    <resultMap id="CityResultMap" type="City">

        <id property="city_name" column="city_name"/>
        <collection property="stations" ofType="Station"/>

    </resultMap>


    <select id="queryCityByName" parameterType="String" resultMap="CityResultMap">
        select city_name, station_name
        from station_simple
        where city_name like '%${city_name}%';
    </select>

</mapper>