<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.OrderMapper">


    <select id="queryOrdersByUserId" parameterType="int" resultType="Order">
        select *
        from orders
        where user_id = #{user_id};
    </select>

    <insert id="createOrderForUserId" parameterType="int">
        insert into orders (create_time, status, user_id)
        values (now(), 'opened', #{user_id});
    </insert>

</mapper>