<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.TicketMapper">


    <select id="queryTicketByOrderId" resultType="train.model.Ticket">
        select ticket_id,
               ticket_set_id,
               train_code,
               depart_station,
               depart_time,
               arrive_station,
               arrive_time,
               date,
               arrive_day,
               seat_type,
               seat_number,
               price,
               refunded,
               finished,
               passenger_name
        from ticket_from_orderid(#{order_id});
    </select>


    <select id="refundTicketByTicketId" resultType="train.model.Ticket">
        select *
        from refund(#{ticket_id});
    </select>


    <select id="checkTicketByTicketId">
        call check_ticket_by_ticket_id(#{ticket_id});
    </select>


    <select id="checkTicketByTime">
        call whole_check();
    </select>


</mapper>
