<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.TicketSetMapper">

    <resultMap id="TicketSetResultMap" type="TicketSet">

        <!--Unique route_id by query from routeMapper-->
        <id property="route_id" column="route_id"/>
        <result property="date" column="date"/>

        <collection property="ticketTypes" ofType="TicketType">
            <id property="ticket_set_id" column="ticket_set_id"/>
            <result property="seat_type" column="seat_type"/>
            <result property="price" column="price"/>
            <result property="remain" column="remain"/>
        </collection>

    </resultMap>


    <select id="queryTicketSetByRouteIdAndDate" resultMap="TicketSetResultMap">
        select rp.route_id      route_id,
               ts.ticket_date   date,
               ts.ticket_set_id ticket_set_id,
               rp.seat_type     seat_type,
               rp.price         price,
               ts.remain        remain
        from ticket_set ts
                 join route_price rp on ts.rp_id = rp.rp_id
        where rp.route_id = #{route_id}
          and ts.ticket_date = #{date}::date;
    </select>

</mapper>