<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.TicketMapper">


    <select id="queryTicketByOrderId" resultType="Ticket">
        select t.ticket_id     ticket_id,
               t.ticket_set_id ticket_set_id,
               (select rp.seat_type
                from route_price rp
                where rp.rp_id = (select a.rp_id
                                  from ticket_set a
                                  where a.ticket_set_id = t.ticket_set_id))
                               seat_type,
               cast((chr((t.seat_number - 1) / 5 + 65) || (t.seat_number - 1) % 5 + 1) as varchar)
                               seat_number,
               t.refunded      refunded,
               (select a.ticket_date from ticket_set a where a.ticket_set_id = t.ticket_set_id)
                               date,
               u.username      passenger_name
        from ticket t
                 join users u on t.passenger_id = u.user_id
        where order_id = #{order_id};
    </select>


    <select id="refundTicketByTicketId" resultType="Ticket">
        select ticket_id,
               ticket_set_id,
               seat_type,
               seat_number,
               refunded,
               date,
               passenger_name
        from refund(#{ticket_id});
    </select>


    <select id="checkTicketByTicketId">
        call check_ticket_by_ticket_id(#{ticket_id});
    </select>


</mapper>
