<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.UserMapper">

    <sql id="allFields">
        username, id, phone, password, credit
    </sql>

    <select id="getPrimaryKey" parameterType="java.util.Map" resultType="int">
        select user_id
        from users
        where ${key} = #{value};
        <!--$ discards quotes of a string-->
    </select>

    <insert id="insertUser" parameterType="User">
        insert into users (username, id, phone, password, credit)
        values (#{username}, #{id}, #{phone}, #{password}, #{credit});
    </insert>

    <update id="updateUser">
        update users
        set password = #{password}
        where user_id = #{user_id};
    </update>

    <select id="queryUserByUsername" parameterType="String" resultType="train.model.User">
        select
        <include refid="allFields"/>
        from users
        where username = #{username};
    </select>

    <select id="queryUserById" parameterType="String" resultType="train.model.User">
        select
        <include refid="allFields"/>
        from users
        where id = #{id};
    </select>

    <select id="queryUserByPhone" parameterType="String" resultType="train.model.User">
        select
        <include refid="allFields"/>
        from users
        where phone = #{phone};
    </select>

    <delete id="deleteUser" parameterType="int">
        delete
        from users
        where user_id = #{user_id};
    </delete>

    <update id="postTokenByUsername">
        update users
        set token = #{token}
        where username = #{username};
    </update>

    <update id="assignCreditByUserId">
        update users
        set credit = #{credit}
        where user_id = #{user_id};
    </update>

    <select id="confirmTokenByUsername" resultType="int">
        select user_id
        from users
        where username = #{username}
          and token = #{token};
    </select>

    <update id="cleanTokenByUsername" parameterType="String">
        update users
        set token = ''
        where username = #{username};
    </update>

</mapper>