<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="train.mapper.UserMapper">

    <!--Use when not strictly 1 to 1-->
    <!--<resultMap id="City" type="com.train.model.City">
        <result column="city_code" jdbcType="INTEGER" property="city_code"/>
        <result column="city_name" jdbcType="VARCHAR" property="city_name"/>
        <result column="province_name" jdbcType="VARCHAR" property="province_name"/>
    </resultMap>-->


    <select id="getPrimaryKey" parameterType="java.util.Map" resultType="int">
        select user_id
        from users
        where ${key} = #{value}; <!--$ discards quotes of a string-->
    </select>

    <insert id="insertUser" parameterType="User">
        insert into users (username, id, phone, password)
        values (#{username}, #{id}, #{phone}, #{password});
    </insert>

    <update id="updateUser">
        update users
        set password = #{password}
        where user_id = #{user_id};
    </update>

    <select id="queryUserByUsername" parameterType="String" resultType="User">
        select *
        from users
        where username = #{username};
    </select>

    <select id="queryUserById" parameterType="String" resultType="User">
        select *
        from users
        where id = #{id};
    </select>

    <select id="queryUserByPhone" parameterType="String" resultType="User">
        select *
        from users
        where phone = #{phone};
    </select>

    <delete id="deleteUser" parameterType="int">
        delete
        from users
        where user_id = #{user_id};
    </delete>

</mapper>